<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.mapper.SysBtnRoleMapper">
  <resultMap id="BaseResultMap" type="com.framework.entity.mapping.SysBtnRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sys_btn_id" jdbcType="BIGINT" property="sysBtnId" />
    <result column="sys_role_id" jdbcType="BIGINT" property="sysRoleId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        sys_btn_id AS sysBtnId , 
        sys_role_id AS sysRoleId , 
        remark AS remark  
    FROM 
        sys_btn_role
  </select>
</mapper>