<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.mapper.SysColumnRoleMapper">
  <resultMap id="BaseResultMap" type="com.framework.entity.mapping.SysColumnRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sys_column_id" jdbcType="BIGINT" property="sysColumnId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        sys_column_id AS sysColumnId , 
        role_id AS roleId , 
        remark AS remark  
    FROM 
        sys_column_role
  </select>
</mapper>