<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.mapper.SysColumnMapper">
  <resultMap id="BaseResultMap" type="com.framework.entity.mapping.SysColumn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_code" jdbcType="VARCHAR" property="columnCode" />
    <result column="column_sort" jdbcType="TINYINT" property="columnSort" />
    <result column="column_icon" jdbcType="VARCHAR" property="columnIcon" />
    <result column="column_state" jdbcType="TINYINT" property="columnState" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        column_name AS columnName , 
        column_code AS columnCode , 
        column_sort AS columnSort , 
        column_icon AS columnIcon , 
        column_state AS columnState , 
        parent_id AS parentId , 
        link_url AS linkUrl , 
        create_time AS createTime , 
        update_time AS updateTime , 
        remark AS remark  
    FROM 
        sys_column
  </select>
</mapper>