<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.mapper.SysNewsMapper">
  <resultMap id="BaseResultMap" type="com.framework.entity.mapping.SysNews">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="news_content" jdbcType="VARCHAR" property="newsContent" />
    <result column="news_outline" jdbcType="VARCHAR" property="newsOutline" />
    <result column="news_type" jdbcType="TINYINT" property="newsType" />
    <result column="news_state" jdbcType="TINYINT" property="newsState" />
    <result column="news_author" jdbcType="VARCHAR" property="newsAuthor" />
    <result column="news_from" jdbcType="VARCHAR" property="newsFrom" />
    <result column="news_from_url" jdbcType="VARCHAR" property="newsFromUrl" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="is_outer" jdbcType="TINYINT" property="isOuter" />
    <result column="news_imgs" jdbcType="VARCHAR" property="newsImgs" />
    <result column="red_counts" jdbcType="BIGINT" property="redCounts" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        news_title AS newsTitle , 
        sub_title AS subTitle , 
        news_content AS newsContent , 
        news_outline AS newsOutline , 
        news_type AS newsType , 
        news_state AS newsState , 
        news_author AS newsAuthor , 
        news_from AS newsFrom , 
        news_from_url AS newsFromUrl , 
        link_url AS linkUrl , 
        is_outer AS isOuter , 
        news_imgs AS newsImgs , 
        red_counts AS redCounts , 
        create_time AS createTime , 
        update_time AS updateTime , 
        remark AS remark  
    FROM 
        sys_news
  </select>
</mapper>